

body{
    position: relative;
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    // &::-webkit-scrollbar{
    //     display: none;
    // }
}
*[href*='cnzz']{
    display: none;
}
.form{
    position: relative;
    padding:0px 0 40px 0;
    text-align: center;
    .input-item{
        display: flex;
        justify-content: flex-start;
        position:relative;
        margin-top:20px;
        text-align: left;
        &.code{
            .input{
                display: flex;
                input{
                    width:200px;
                }
                .button{
                    width:110px;
                    background: $cm;
                    color:#fff;
                    font-size:14px;
                    text-align: center;
                    border-radius: 5px;
                    cursor: pointer;
                    margin-left:12px;
                    &:hover{
                        background:darken($cm,10%);
                    }
                    &.disable{
                    background: #d9dadf;
                    color:#aaa;
                    cursor: default;
                    &:hover{
                        background: #d9dadf;
                    }
                    }
                }
            }
        }
        .label{
            width:86px;
            line-height: 48px;
            height:48px;
            padding-right:16px;
            font-size:14px;
            color:$ct2;
            text-align: right;
            white-space: nowrap;
            &.required{
                &:before{
                    font-size:16px;
                    color:red;
                    content:"*";
                    display: inline-block;
                    position: relative;
                    top:2px;
                    right:4px;
                }
            }
        }
        .input{
            position: relative;
            width:calc(100% - 86px);
            line-height: 48px;
            font-size: 16px;
            color:$ct1;
            >input{
                border-radius: 5px;
                width:100%;
                background: #f6f8fa;
                outline: none;
                border:none;
                box-sizing: border-box;
                padding:0 20px;
                border:1px solid transparent;
                &:focus{
                    border:1px solid $cm;
                }
            }
            .seletor{
                border-radius: 5px;
                width:100%;
                background: #f6f8fa;
                outline: none;
                border:none;
                box-sizing: border-box;
                padding:0 60px 0 20px;
                border:1px solid transparent;
                cursor: pointer;
                position: relative;
                .show{
                display: block;
                height:48px;
                line-height: 48px;;
                }
                span{
                    position: absolute;
                    right:0;
                    width:60px;
                    text-align: center;
                    color:$ct2;
                    top:0;
                    z-index: 2;
                }
                .list{
                    line-height: 30px;
                    font-size: 14px;
                    height:200px;
                    overflow-y: auto;
                    border:1px solid $cm;
                    border-radius: 6px;
                    box-shadow: 0 0 10px rgba(#000,0.2);
                    bottom:calc(100% + 2px);
                    padding:10px 0 ;
                    left:0;
                    width:100%;

                    position: absolute;
                    background: #fff;
                    z-index: 3;
                    >.item{
                        padding:0 10px;
                        cursor: pointer;
                        color:$ct1;
                        &:hover{
                            background: $cm;
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
    .submit{
        margin:30px auto 0 ;
        position: relative;
        left:30px;
        color:#fff;
        height:48px;
        line-height: 48px;
        font-size: 16px;
        width:240px;
        background: $cm;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            background: darken($cm,10%);
        }
    
    }
}

@media (max-width: 750px) {
    body{
      width:750px;
      overflow-x: hidden;
    }
    .form{
        padding:0;
        .input-item{
            display: block;
            >.label{
                line-height: 54px;
                height:54px;
                font-size:26px;
                color:$ct2;
                &.required{
                    &:before{
                        font-size:30px;
                    }
                }
            }
            .input{
                width:100%;
                line-height:90px;
                height:90px;
                display: block;
                input{
                    border-radius: 10px;
                    height: 90px;
                    line-height: 90px;
                    font-size:30px;
                }
                .seletor{
                    width:100%;
                    line-height: 90px;
                    height:90px;
                    border-radius: 10px;
                    .show{
                        line-height: 90px;
                        font-size:30px;
                        height:90px;
                    }
                    >span{
                        font-size: 36px;
                        color:rgba($ct2,0.7);
                    }
                    .list{
            
                        height:540px;
                        padding:0;
                        font-size: 28px;
                        border:0px;
                        .item{
                            padding:0 20px;
                            height:54px;
                            line-height: 54px;
                        }
                    }
                }
            }

        }
        .submit{
            width:600px;
            height:96px;
            font-size:30px;
            line-height: 96px;
            left:0;
            border-radius: 10px;
        }
    }
  }